<div class="container-fluid">
  <section class="row" style="padding: 20px;">
    <article style="width: 10%;">
      <button-home-website></button-home-website>
      <button-following-website></button-following-website>
    </article>
    <article style="width: 80%;">
      <input-search-header></input-search-header>
    </article>
    <article style="width: 10%;">
      <button-notification-website></button-notification-website>
      <button-messages-website></button-messages-website>
      <button-info-website></button-info-website>
    </article>
  </section>
</div>
